<!-- FORMATION -->
    <section id="formation" class="reveal">

        <div class="section-header">
            <h2>Formation <span style="color:var(--accent)">académique</span></h2>
            <p class="section-subtitle">Mon parcours éducatif et mes diplômes</p>
        </div>

        <div class="formation-grid">

            <div class="formation-card">
                <div class="formation-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M22 10v6M2 10l10-5 10 5-10 5z"/><path d="M6 12v5c3 3 9 3 12 0v-5"/></svg>
                </div>
                <h3>Master 2 Intelligence Artificielle - Objets connectés et cybersécurité </h3>
                <span class="formation-date">2026 - 2027</span>
                <p class="formation-place">École Nationale d'Informatique, Fianarantsoa</p>
            </div>

            <div class="formation-card">
                <div class="formation-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M2 3h6a4 4 0 0 1 4 4v14a3 3 0 0 0-3-3H2z"/><path d="M22 3h-6a4 4 0 0 0-4 4v14a3 3 0 0 1 3-3h7z"/></svg>
                </div>
                <h3>Licence Professionnelle - En Électronique Appliquée et Informatique Industrielle</h3>
                <span class="formation-date">2024 - 2025</span>
                <p class="formation-place">Faculté des Sciences, Fianarantsoa</p>
            </div>

            <div class="formation-card">
                <div class="formation-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="12" cy="8" r="6"/><path d="M15.477 12.89 17 22l-5-3-5 3 1.523-9.11"/></svg>
                </div>
                <h3>Baccalauréat - Série S</h3>
                <span class="formation-date">2022</span>
                <p class="formation-place">lycée Alakamisy Ambohimaha</p>
            </div>

        </div>

    </section>
